<?xml version="1.0"?>
<model>
  <name>sign_left_ign</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>manelpuig</name>
  </author>
  <description>Left sign optimized for Ignition Gazebo Fortress: no Ogre scripts, PBR texture, simplified collisions.</description>
</model>
